<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">{{title}}</h1>
        <form action="/main/edit_form" method="post">
            <div class="mb-5">
                <label class="form-label">이름</label>
                <input class="form-control" id="name" name="name" type="text" value="{{main_info.name}}" />
            </div>
            <div class="mb-5">
                <label class="form-label">메인 글</label>
                <!-- <input class="main_input" id="main_content" name="main_content" type="text" value="{{main_info.main_content}}"> -->
                <textarea class="form-control" name="main_content" id="main_content" cols="30" rows="10">{{main_info.main_content}}</textarea>
            </div>
            <div class="mb-5">
                <label class="form-label">서브 글</label>
                <input class="form-control" id="sub_content" name="sub_content" type="text" value="{{main_info.sub_content}}">
            </div>
            <div class="text-center">
                <a href="/main" class="btn btn-secondary">이전</a>
                <button type="submit" class="btn btn-info">제출</button>
            </div>
        </form>
    </div>
</body>
</html>