<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-5 mt-5">{{title}}</h1>
        <form action="/skills/skill_edit_form" method="post">
            <h2>Skills 수정</h2>
            <div class="mb-5">
                <label class="form-label">이름</label>
                <input class="form-control" id="name" name="name" type="text" value="{{skill_info.name}}" />
            </div>
            <div class="mb-5">
                <label class="form-label">완성도</label>
                <div class="skills-range-box d-flex justify-content-between mt-3">
                    <p>0%</p>
                    <p>10%</p>
                    <p>20%</p>
                    <p>30%</p>
                    <p>40%</p>
                    <p>50%</p>
                    <p>60%</p>
                    <p>70%</p>
                    <p>80%</p>
                    <p>90%</p>
                    <p>100%</p>
                </div>
                <input class="form-range mt-0" type="range" id="percent" name="percent" min="0" max="100" value="{{skill_info.percent}}" step="5" />
                <!-- <input class="about_input" id="percent" name="percent" type="number" value="{{skill_info.percent}}" /> -->
            </div>
            <input type="hidden" id="num" name="num" value="{{skill_info.num}}">
            <div class="text-center">
                <a href="/skills" class="btn btn-secondary">이전</a>
                <a href="/skills/skill_del/{{skill_info.num}}" class="btn btn-danger">삭제</a>
                <button type="submit" class="btn btn-info">제출</button>
            </div>
        </form>
    </div>
</body>
</html>