@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.main-typewriter{
    font-family: 'Noto Sans KR', sans-serif;
    white-space: pre-wrap;
}

.main-content{
    font-family: 'Dancing Script', cursive;
    top: 300px;
    width: 100%;
    text-align: center;
}