*{box-sizing: border-box;}

.d-flex{ display: flex; }
.d-block{ display: block; }
.d-none{ display: none; }


.justify-between{ justify-content: space-between; }
.justify-center{ justify-content: center; }
.align-items-center{ align-items: center; }
.white-space-nowrap{ white-space: nowrap; }

.white-space-prewrap{ white-space: pre-wrap; }

.position-fixed{ position: fixed; }
.position-relative{ position: relative; }
.position-absolute{ position: absolute; }

.h-100px{ height: 100px; }
.h-142px{ height: 142px; }
.h-106px{ height: 106px; }

.w-25{ width: 25%; }
.w-40{ width: 40%; }
.w-50{ width: 50%; }
.w-55{ width: 55%; }
.w-60{ width: 60%; }
.w-70{ width: 70%; }
.w-80{ width: 80%; }
.w-100{ width: 100%; }

.mb-0px{ margin-bottom: 0px; }
.mt-0px{ margin-top: 0px; }
.mt-20px{ margin-top: 20px; }
.mt-30px{ margin-top: 30px; }
.ml-30px{ margin-left: 30px; }
.mr-30px{ margin-right: 30px; }
.mb-50px{ margin-bottom: 50px; }
.mb-70px{ margin-bottom: 70px; }
.mb-100px{ margin-bottom: 100px; }
.mt-50px{ margin-top: 50px; }
.mt-100px{ margin-top: 100px; }
.mt-150px{ margin-top: 150px; }

.pt-0px{ padding-top: 0px;}
.pb-0px{ padding-bottom: 0px;}
.pt-2px{ padding-top: 2px;}
.pl-30px{ padding-left: 30px; }
.pr-30px{ padding-right: 30px; }
.pb-100px{ padding-bottom: 100px; }
.pt-100px{ padding-top: 100px; }
.pb-35px{ padding-bottom: 35px; }
.pt-35px{ padding-top: 35px; }
.pb-40px{ padding-bottom: 40px; }
.pt-40px{ padding-top: 40px; }
.pb-50px{ padding-bottom: 50px; }
.pt-50px{ padding-top: 50px; }

.m-center{ margin: 0 auto;}

.text-center{ text-align: center; }
.text-right{ text-align: right; }

.fw-500{ font-weight: 500; }
.fw-600{ font-weight: 600; }
.fw-700{ font-weight: 700; }
.fw-800{ font-weight: 800; }
.fw-900{ font-weight: 900; }

.fs-16px{ font-size: 16px; }
.fs-18px{ font-size: 18px; }
.fs-20px{ font-size: 20px; }
.fs-30px{ font-size: 30px; }
.fs-40px{ font-size: 40px; }
.fs-60px{ font-size: 60px; }

.z-100{ z-index: 100;}

.col-6{
    width: 50%;
}


a{ text-decoration: none; color: black !important; }
